*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{

font-family:'Poppins', sans-serif;
background:linear-gradient(160deg,#ff7aa2,#ffc1d6);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
overflow:hidden;

}

/* halaman */

.page{

width:100%;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

/* intro */

.intro{

position:fixed;
top:0;
left:0;

width:100%;
height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:linear-gradient(160deg,#ff7aa2,#ffc1d6);

z-index:10;

}

.intro h1{

font-family:'Great Vibes', cursive;
font-size:45px;

}

.intro button{

margin-top:20px;
padding:14px 25px;

border:none;
border-radius:30px;

background:white;
color:#ff4b7d;

font-weight:600;
cursor:pointer;

}

/* card pesan */

.card{

background:rgba(255,255,255,0.35);
backdrop-filter:blur(15px);

padding:30px;

border-radius:25px;

width:85%;
max-width:360px;

box-shadow:0 10px 30px rgba(0,0,0,0.25);

}

/* foto awal */

.foto{

width:120px;
height:120px;

border-radius:50%;
object-fit:cover;

border:3px solid white;

margin-bottom:15px;

}

h1{

font-family:'Great Vibes', cursive;
font-size:34px;

}

h2{

font-size:16px;
margin-bottom:20px;

}

#text{

font-size:17px;
line-height:1.8;

min-height:120px;

}

/* tombol */

button{

margin:10px;

padding:12px 22px;

border:none;
border-radius:30px;

background:white;
color:#ff4b7d;

font-weight:600;

cursor:pointer;

}

.hidden{

display:none;

}

/* halaman ending */

.ending-card{

display:flex;
flex-direction:column;
align-items:center;

animation:fade 2s;

}

.foto-besar{

width:260px;
height:260px;

border-radius:25px;

object-fit:cover;

border:4px solid white;

margin-bottom:20px;

box-shadow:0 15px 40px rgba(0,0,0,0.3);

}

@keyframes fade{

from{

opacity:0;
transform:scale(0.8);

}

to{

opacity:1;
transform:scale(1);

}

}

/* animasi hati */

.hearts{

position:absolute;
width:100%;
height:100%;

top:0;
left:0;

pointer-events:none;

}

.heart{

position:absolute;

animation:fall linear infinite;

}

@keyframes fall{

0%{
transform:translateY(-10vh);
opacity:1;
}

100%{
transform:translateY(110vh);
opacity:0;
}

}